db.sqlite3
_build
*.pyc
*DS_Store
.pydevproject
.project
.settings/org.eclipse.core.resources.prefs
*.settings
authhub/db/migration/alembic_migrations/versions/*py
env
**/launchConfigurations
**/node_modules
**/.vscode
**/temp
**/public/logs/**
nohup.out
.idea
.tmp
**/.ks
**/build/bin/**
authhub/env
